<h1>Login</h1>
<p>Find me in app/views/login/new.html.erb</p>

<%= form_tag"/login" do %>

    <p>
<!-- credential seria a variavel que seria passado para o post ou seja: params[:credential] -->
        <%= label_tag :credential, t("labels.login.credential") %>
        <%= text_field_tag :credential %>
    </p>
    <p>
        <%= label_tag :password, t("labels.login.password")%>
        <%= password_field_tag :password %>
    </p>

    <p>
       <%= submit_tag t("buttons.login")%>
    </p>
<% end %>
